@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');


html {
    box-sizing: border-box;
    scroll-behavior:smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.content .item {
        border-radius: 30px;
    }


nav {
    display: block;
}

.navbar {
    padding: 10px;
    background-color: rgb(45,45,40);
    overflow: hidden;
    float: left;
    text-align: center;
    width: 100%;
    height: auto;
    color: whitesmoke;
    font-size: 30px;
}



.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 400px;
    text-align: center;
    max-width: 80%;
}



.aboutme {
    text-align: center;
    color:white;
    font-size: 50px;
    margin: -10px;
}

.name {
    text-align: center;
    font-size: 50px;
}

div {
    font-size: 25px;
    text-align: center;
    max-width: 80%;
    inline-size: 500px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

.project {
    text-align: center;
    font-size: 50px;
    margin: -10px;
}


body {
    background: linear-gradient( rgb(45,45,40), rgb(100, 100, 100));
    background-repeat: no-repeat;
    font-family: Amatic SC;
    color: white;
    background-attachment: fixed;
}

hr {
    display: block;
    width: 150px;
}

h1 {
    display: block;
    width: 200px;
    text-align: center;  
    margin-left: auto;
    margin-right: auto;
}

h2 {
    display: block;
    width: 200px;
    text-align: center;  
    margin-left: auto;
    margin-right: auto;
}

#logos {
    padding: 30px;
    border-radius: 0px;
}

img{
    border-radius: 20px;
    display: inline-flex;
    width: 500px;
    height:auto;
}

a {
    color: whitesmoke;
    padding: 50px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: grey;
}

a:active {
    text-decoration: none;
}

.box {
    border: 1px solid #ccc;

    display: block;
    width: 100%;
    height: 300px;
    color: black;
    background: linear-gradient(white, white 50%, #333 50%, #333);
    background-size: 100% 202%;
    transition: all 0.2s ease;
    animation: down-bump 0.4s ease;
}

.box:hover {
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
}

@keyframes up-bump {
        0% { padding-top: 2em; }
        50% { padding-top: 1.5em; }
        100% { padding-top: 2em; }
      }
@keyframes down-bump {
        0% { padding-top: 2em; }
        50% { padding-top: 2.5em; }
        100% { padding-top: 2em; }
      }