@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');


html {
    background-color: rgb(161, 160, 160);
    background-size:auto;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.content .item {
        border-radius: 30px;
    }


nav {
    display: block;
}

.navbar {
    padding: 10px;
    background-color: rgb(45,45,40);
    overflow: hidden;
    float: left;
    text-align: center;
    width: 100%;
    height: auto;
    color: whitesmoke;
    font-size: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 400px;
    text-align: center;
    max-width: 80%;
}

.aboutme {
    text-align: center;
    color:white;
    font-size: 50px;
    margin: -10px;
}

.name {
    text-align: center;
    font-size: 50px;
}

div {
    font-size: 25px;
    text-align: center;
    max-width: 80%;
    inline-size: 500px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

.project {
    text-align: center;
    font-size: 50px;
    margin: -10px;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: -16px;
    margin-bottom: -16px;
    max-width: 1200px;
    background: linear-gradient( rgb(45,45,40), rgb(100, 100, 100));
    font-family: Amatic SC;
    color: white;
    background-attachment: fixed;
}

hr {
    display: block;
    width: 150px;
}

h1 {
    display: block;
    width: 200px;
    text-align: center;  
    margin-left: auto;
    margin-right: auto;
}

h2 {
    display: block;
    width: 200px;
    text-align: center;  
    margin-left: auto;
    margin-right: auto;
}

#logos {
    padding: 30px;
    border-radius: 0px;
}

img{
    border-radius: 20px;
    display: inline-flex;
    width: 500px;
    height:auto;
}

.flex-container {
    display: flex;
}

.flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1;
}

/* Links and attributes */
a {
    color: whitesmoke;
    margin: 50px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: grey;
}

a:active {
    text-decoration: none;
}

/* Project boxes with animated pop up*/
.box {
    color: #ccc;
    padding-top: 10%;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 300px;
    background: linear-gradient(#ccc, #ccc 50%, #333 50%, #333);
    background-size: 100% 200%;
    transition: all 0.2s ease;
    animation: down-bump 0.2s ease;
    
}

/* Hover over project for a pop up */
.box:hover {
    background-position: 100% 100%;
    animation: up-bump 0.2s ease;
}


